/*
----------------Typo
*/

/*
----------------Variables
*/

* {
  margin: 0;
  padding: 0;
}

/*
---------------Desktop
*/
@media screen and (min-width: 21.875rem) {
  body {
    background-color: yellow;
    width: auto;
  }
} /*@media screen and (min-width: 21.875rem){*/
